<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<meta name="description" content="" />
<meta name="author" content="" />
<link rel="icon" href="favicon.ico" />

<title>User Registration with Spring Boot</title>

<!-- Bootstrap core CSS -->
<link
	href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous" />

<link th:href="@{css/style.css}" rel="stylesheet" />
<link th:href="@{css/fv.css}" rel="stylesheet" />
</head>

<body class="gray-bg">

	<div class="middle-box text-center loginscreen animated fadeInDown">
		<div>

			<hr />
			<h4>Gate Allocation</h4>

			<div th:if="${successMessage}" class="alert alert-success"
				role="alert" th:text=${successMessage}></div>

			<div th:if="${errorMessage}" class="alert alert-danger" role="alert"
				th:text=${errorMessage}></div>

			<form th:if="!${invalidToken}" class="m-t" id="passwordForm"
				role="form" action="#" th:object="${setPassword}"
				th:action="@{/confirm}" method="post">


				<div class="form-group input-group has-feedback">
					<label th:if="${#fields.hasErrors('flightNumber')}"
						th:errors="*{flightNumber}" class="validation-message"></label> <span
						class="input-group-addon"> <span
						class="glyphicon form-control-feedback"></span>
					</span> <input type="text" th:field="*{flightNumber}"
						placeholder="Flight Number" class="form-control" required /> <span
						class="glyphicon form-control-feedback" aria-hidden="true"></span>
				</div>


				<div class="form-group input-group has-feedback">
					<label th:if="${#fields.hasErrors('source')}" th:errors="*{source}"
						class="validation-message"></label> <span
						class="input-group-addon"> <span
						class="glyphicon form-control-feedback"></span>
					</span> <input type="text" th:field="*{source}"
						placeholder="Source airport" class="form-control" required /> <span
						class="glyphicon form-control-feedback" aria-hidden="true"></span>
				</div>


				<div class="form-group input-group has-feedback">
					<label th:if="${#fields.hasErrors('destination')}"
						th:errors="*{destination}" class="validation-message"></label> <span
						class="input-group-addon"> <span
						class="glyphicon form-control-feedback"></span>
					</span> <input type="text" th:field="*{destination}"
						placeholder="Destination airport" class="form-control" required />
					<span class="glyphicon form-control-feedback" aria-hidden="true"></span>
				</div>

				<div class="help-block with-errors"></div>
		</div>



		<button type="submit" class="btn btn-primary block full-width m-b">Allocate
		</button>


		<h4>Leave Aircraft</h4>

		<div th:if="${successMessage}" class="alert alert-success"
			role="alert" th:text=${successMessage}></div>

		<div th:if="${errorMessage}" class="alert alert-danger" role="alert"
			th:text=${errorMessage}></div>


		<div class="form-group input-group has-feedback">
			<label th:if="${#fields.hasErrors('flightNumber')}"
				th:errors="*{flightNumber}" class="validation-message"></label> <span
				class="input-group-addon"> <span
				class="glyphicon form-control-feedback"></span>
			</span> <input type="text" th:field="*{flightNumber}"
				placeholder="Flight Number" class="form-control" required
				id="LeaveflightNumber" /> <span
				class="glyphicon form-control-feedback" aria-hidden="true"></span>
		</div>

		<div class="help-block with-errors"></div>
	</div>



	<button type="button" class="btn btn-primary block full-width m-b"
		onsubmit="LeaveAircraft(this.value)">Leave</button>


	<h4>Gate Present</h4>

	<div th:if="${successMessage}" class="alert alert-success" role="alert"
		th:text=${successMessage}></div>

	<div th:if="${errorMessage}" class="alert alert-danger" role="alert"
		th:text=${errorMessage}></div>


	<div class="form-group input-group has-feedback">
		<label th:if="${#fields.hasErrors('flightNumber')}"
			th:errors="*{flightNumber}" class="validation-message"></label> <span
			class="input-group-addon"> <span
			class="glyphicon form-control-feedback"></span>
		</span> <input type="text" th:field="*{flightNumber}"
			placeholder="Flight Number" class="form-control" required
			id="LeaveflightNumber" /> <span
			class="glyphicon form-control-feedback" aria-hidden="true"></span>
	</div>

	<div class="help-block with-errors"></div>



	<button type="button" class="btn btn-primary block full-width m-b"
		onsubmit="GatePresent(this.value)">Find Gates</button>

	<h4>Aircrafts from Destination</h4>

	<div th:if="${successMessage}" class="alert alert-success" role="alert"
		th:text=${successMessage}></div>

	<div th:if="${errorMessage}" class="alert alert-danger" role="alert"
		th:text=${errorMessage}></div>


	<div class="form-group input-group has-feedback">
		<label th:if="${#fields.hasErrors('destination')}"
			th:errors="*{destination}" class="validation-message"></label> <span
			class="input-group-addon"> <span
			class="glyphicon form-control-feedback"></span>
		</span> <input type="text" th:field="*{destination}"
			placeholder="Destination" class="form-control" required
			id="LeaveflightNumber" /> <span
			class="glyphicon form-control-feedback" aria-hidden="true"></span>
	</div>

	<div class="help-block with-errors"></div>
	<button type="button" class="btn btn-primary block full-width m-b"
		onsubmit="FlyingTo(this.value)">Find Aircrafts</button>

	<h4>Gates from Source</h4>

	<div th:if="${successMessage}" class="alert alert-success" role="alert"
		th:text=${successMessage}></div>

	<div th:if="${errorMessage}" class="alert alert-danger" role="alert"
		th:text=${errorMessage}></div>


	<div class="form-group input-group has-feedback">
		<label th:if="${#fields.hasErrors('destination')}"
			th:errors="*{destination}" class="validation-message"></label> <span
			class="input-group-addon"> <span
			class="glyphicon form-control-feedback"></span>
		</span> <input type="text" th:field="*{source}"
			placeholder="Source" class="form-control" required
			id="source" /> <span
			class="glyphicon form-control-feedback" aria-hidden="true"></span>
	</div>

	<div class="help-block with-errors"></div>
	<button type="button" class="btn btn-primary block full-width m-b"
		onsubmit="SourceFrom(this.value)">Find Gates</button>
	
	<h4>Status</h4>

	<div th:if="${successMessage}" class="alert alert-success" role="alert"
		th:text=${successMessage}></div>
		
	<button type="button" class="btn btn-primary block full-width m-b"
		onsubmit="Status()">Status</button>
	</form>
	<!-- jQuery-->
	<script
		src="//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

	<!-- Bootstrap -->
	<script
		src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
		integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
		crossorigin="anonymous"></script>


	<script src="//cdnjs.cloudflare.com/ajax/libs/zxcvbn/4.4.2/zxcvbn.js"></script>

	<script th:src="@{js/fv.min.js}"></script>
	<script>
  function LeaveAircraft() {
	    //calling /leaveAircraft forward;
	}

  function GatePresent() {
	    //calling /gatePresent forward;
	} 

	function FlyingTo() {
	    //calling /flyingTo forward;
	}

	function SourceFrom() {
	    //calling /sourceFrom forward;
	}

	function Status() {
	    //calling /status forward;
	}

  
		$(document).ready(function() {
		    $('#passwordForm').formValidation({
		        framework: 'bootstrap',
		        icon: {
		            valid: 'glyphicon glyphicon-ok',
		            invalid: 'glyphicon glyphicon-remove',
		            validating: 'glyphicon glyphicon-refresh'
		        },
		        fields: {
		        
		            password: {
		                validators: {
		                    notEmpty: {
		                        message: 'The password is required'
		                    },
		                    callback: {
		                        callback: function(value, validator, $field) {
		                            var password = $field.val();
		                            if (password == '') {
		                                return true;
		                            }

		                            var result  = zxcvbn(password),
		                                score   = result.score,
		                                message = result.feedback.warning || 'The password is weak';

		                            // Update the progress bar width and add alert class
		                            var $bar = $('#strengthBar');
		                            switch (score) {
		                                case 0:
		                                    $bar.attr('class', 'progress-bar progress-bar-danger')
		                                        .css('width', '1%');
		                                    break;
		                                case 1:
		                                    $bar.attr('class', 'progress-bar progress-bar-danger')
		                                        .css('width', '25%');
		                                    break;
		                                case 2:
		                                    $bar.attr('class', 'progress-bar progress-bar-danger')
		                                        .css('width', '50%');
		                                    break;
		                                case 3:
		                                    $bar.attr('class', 'progress-bar progress-bar-warning')
		                                        .css('width', '75%');
		                                    break;
		                                case 4:
		                                    $bar.attr('class', 'progress-bar progress-bar-success')
		                                        .css('width', '100%');
		                                    break;
		                            }

		                            // We will treat the password as an invalid one if the score is less than 3
		                            if (score < 3) {
		                                return {
		                                    valid: false,
		                                    message: message
		                                }
		                            }

		                            return true;
		                        }
		                    }
		                }
		            }
		        }
		    });
		});
	});
  </script>

</body>

</html>
